| id_alumna | nombre | apellidos | dirección 1 | dirección 2|
| ----------- | ----------- |----------- |----------- |----------- |
| 1 | Cristina | Marin | Cuenca | España
| 2 | Marta | López |  Toledo | España |
| 3 | Rocío | Pérez | Nantes| Francia |
| 4 | Elena | Rodríguez |Monterrey| México |

| id_asigantura| asignatura |
| ----------- | ----------- |
| 101 | Base de datos | 
| 102 | Extracción |  
| 103 | Limpieza|

| id_alumna | id_asignatura | nota |
|----------- |----------- |-----------|
| 1 | 101 | 8 |
| 1 | 102 | 9 |
| 1 | 103 | 8 |
| 2 | 101 | 7 |
| 2 | 103 | 9 |
| 3 | 101 | 10|
| 3 | 102 | 7 |
| 4 | 101 | 10 |
| 4 | 102 | 9 |
| 4 | 103 | 7 |