## Pair programming Beautiful Soup

Scraping the Occasion Plus web https://www.ocasionplus.com/

In [19]:
# create a function called scrape_coches_ocasion that extracts coache's names and original and discounted prices and returns them in a DataFrame

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

url_1 = "https://www.ocasionplus.com/coches-ocasion?v2&orderBy=morePopular"

def scrape_coches_ocasion (url):
    llamada = requests.get(url)
    codigo = llamada.status_code
    if codigo == 200:
        print ("\nLlamada exitosa.")
    else:
        print (f"\nError en la llamada, código de error {codigo}.")
        return "none"
    sopa = BeautifulSoup (llamada.content, "html.parser")
    print ("\nSe ha creado la sopa:\n")
    #print (sopa.prettify())

    # extraer los nombres de los coches de la sopa
    nombres = sopa.find_all("span", {"data-test":"span-brand-model"})
    
    # limpiar los nombres de forma de obtener solo el texto del nombre
    lista_nombres = []
    for nombre in nombres:
        lista_nombres.append(nombre.text)
    print (f"\nLista de nombres extraída. Contiene {len(lista_nombres)} coches. Lista:\n {lista_nombres}")

    # extraer precio rebajado de la sopa

    precios_rebajados = sopa.find_all("span", {"data-test":"span-finance"}) 
    #print ("\n", precios_rebajados)
    lista_precios_rebajados = []
    for item in precios_rebajados:
        lista_precios_rebajados.append(item.text) 
    print (f"\nLista de precios rebajados extraída. Contiene: {len(lista_precios_rebajados)} precios. Lista:\n{lista_precios_rebajados}")
    
    # extraer precio original de la sopa (PENDIENTE: agregar este valor al DataFrame. Debo buscar otra forma porque de esta manera obtengo solo 17 resultados.)
    precios = sopa.find_all("span", {"data-test":"span-price"}) 
    #print ("\n", precios)
    #print (len(precios))
    lista_precios = []
    for item in precios:
        lista_precios.append(item.text) 
    print (f"\nLista de precios rebajados extraída. Contiene: {len(lista_precios)} precios. Lista:\n{lista_precios}")

    info = {"Coche": lista_nombres, "Precio Rebajado": lista_precios_rebajados}
    info_df = pd.DataFrame (info)
    return (info_df)

scrape_coches_ocasion(url_1)

Llamada exitosa.

Se ha creado la sopa:


Lista de nombres extraída. Contiene 20 coches. Lista:
 ['Peugeot 3008', 'KIA Stinger', 'Peugeot Partner', 'Seat Arona', 'BMW X4', 'Mercedes Clase C', 'Renault Scénic', 'Peugeot 3008', 'Citroën Grand C4 Picasso', 'Toyota Auris', 'Renault Mégane', 'Toyota Rav4', 'Suzuki Vitara', 'Citroën C4', 'Seat Ibiza', 'Audi Q3', 'Toyota Yaris', 'KIA ProCeed', 'MG ZS', 'Suzuki Jimny']

Lista de precios rebajados extraída. Contiene: 20 precios. Lista:
['12.273€', '22.718€', '14.455€', '13.955€', '29.081€', '27.227€', '8.350€', '8.863€', '14.300€', '18.090€', '14.409€', '15.863€', '20.454€', '8.363€', '10.454€', '19.409€', '8.000€', '21.800€', '17.409€', '10.500€']

Lista de precios rebajados extraída. Contiene: 17 precios. Lista:
['13.500€', '24.990€', '15.900€', '15.350€', '31.990€', '29.950€', '9.750€', '19.900€', '15.850€', '17.450€', '22.500€', '9.200€', '11.500€', '21.350€', '8.800€', '23.980€', '19.150€']

                       Coche Precio Rebajado
0               Peugeot 3008         12.273€
1                KIA Stinger         22.718€
2            Peugeot Partner         14.455€
3                 Seat Arona         13.955€
4                     BMW X4         29.081€
5           Mercedes Clase C         27.227€
6             Renault Scénic          8.350€
7               Peugeot 3008          8.863€
8   Citroën Grand C4 Picasso         14.300€
9               Toyota Auris         18.090€
10            Renault Mégane         14.409€
11               Toyota Rav4         15.863€
12             Suzuki Vitara         20.454€
13                Citroën C4          8.363€
14                Seat Ibiza         10.454€
15                   Audi Q3         19.409€
16              Toyota Yaris          8.000€
17               KIA ProCeed         21.800€
18                     MG ZS         17.409€
19              Suzuki Jimny         10.500€