## Pair programming Beautiful Soup

Scraping the Occasion Plus web https://www.ocasionplus.com/

In [1]:
# create a function called scrape_coches_ocasion that extracts coache's names and original and discounted prices and returns them in a DataFrame

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

url_1 = "https://www.ocasionplus.com/coches-ocasion?v2&orderBy=morePopular"

def scrape_coches_ocasion (url):
    llamada = requests.get(url)
    codigo = llamada.status_code
    if codigo == 200:
        print ("\nConexi√≥n con la API exitosa ‚úÖ")
    else:
        print (f"\nError en la llamada ‚ùå. C√≥digo de error {codigo}.")
        return "none"
    sopa = BeautifulSoup (llamada.content, "html.parser")
    print ("\nSe ha creado la sopa üçú‚úÖ\n")
    #print (sopa.prettify())

    # extraer los nombres de los coches de la sopa
    nombres = sopa.find_all("span", {"data-test":"span-brand-model"})
    
    # limpiar los nombres de forma de obtener solo el texto del nombre
    lista_nombres = []
    for nombre in nombres:
        lista_nombres.append(nombre.text)
    print (f"\nLista de nombres extra√≠da. Contiene {len(lista_nombres)} coches. Lista:\n {lista_nombres}")

    # extraer precio rebajado de la sopa

    precios_rebajados = sopa.find_all("span", {"data-test":"span-finance"}) 
    #print ("\n", precios_rebajados)
    lista_precios_rebajados = []
    for item in precios_rebajados:
        lista_precios_rebajados.append(item.text) 
    print (f"\nLista de precios rebajados extra√≠da. Contiene: {len(lista_precios_rebajados)} precios. Lista:\n{lista_precios_rebajados}")
    
    # extraer precio original de la sopa (PENDIENTE: agregar este valor al DataFrame. Debo buscar otra forma porque de esta manera obtengo solo 17 resultados.)
    precios = sopa.find_all("span", {"data-test":"span-price"}) 
    #print ("\n", precios)
    #print (len(precios))
    lista_precios = []
    for item in precios:
        lista_precios.append(item.text) 
    print (f"\nLista de precios rebajados extra√≠da. Contiene: {len(lista_precios)} precios. Lista:\n{lista_precios}")

    info = {"Coche": lista_nombres, "Precio Rebajado": lista_precios_rebajados}
    info_df = pd.DataFrame (info)
    return (info_df)

scrape_coches_ocasion(url_1)

Llamada exitosa.

Se ha creado la sopa:


Lista de nombres extra√≠da. Contiene 20 coches. Lista:
 ['Peugeot 3008', 'KIA Stinger', 'Peugeot Partner', 'Seat Arona', 'BMW X4', 'Mercedes Clase C', 'Renault Sc√©nic', 'Peugeot 3008', 'Citro√´n Grand C4 Picasso', 'Toyota Auris', 'Renault M√©gane', 'Toyota Rav4', 'Suzuki Vitara', 'Citro√´n C4', 'Seat Ibiza', 'Audi Q3', 'Toyota Yaris', 'KIA ProCeed', 'MG ZS', 'Suzuki Jimny']

Lista de precios rebajados extra√≠da. Contiene: 20 precios. Lista:
['12.273‚Ç¨', '22.718‚Ç¨', '14.455‚Ç¨', '13.955‚Ç¨', '29.081‚Ç¨', '27.227‚Ç¨', '8.350‚Ç¨', '8.863‚Ç¨', '14.300‚Ç¨', '18.090‚Ç¨', '14.409‚Ç¨', '15.863‚Ç¨', '20.454‚Ç¨', '8.363‚Ç¨', '10.454‚Ç¨', '19.409‚Ç¨', '8.000‚Ç¨', '21.800‚Ç¨', '17.409‚Ç¨', '10.500‚Ç¨']

Lista de precios rebajados extra√≠da. Contiene: 17 precios. Lista:
['13.500‚Ç¨', '24.990‚Ç¨', '15.900‚Ç¨', '15.350‚Ç¨', '31.990‚Ç¨', '29.950‚Ç¨', '9.750‚Ç¨', '19.900‚Ç¨', '15.850‚Ç¨', '17.450‚Ç¨', '22.500‚Ç¨', '9.200‚Ç¨', '11.500‚Ç¨', '21.350‚Ç¨', '8.800‚Ç¨', '23.980‚Ç¨', '19.150‚Ç¨']

                       Coche Precio Rebajado
0               Peugeot 3008         12.273‚Ç¨
1                KIA Stinger         22.718‚Ç¨
2            Peugeot Partner         14.455‚Ç¨
3                 Seat Arona         13.955‚Ç¨
4                     BMW X4         29.081‚Ç¨
5           Mercedes Clase C         27.227‚Ç¨
6             Renault Sc√©nic          8.350‚Ç¨
7               Peugeot 3008          8.863‚Ç¨
8   Citro√´n Grand C4 Picasso         14.300‚Ç¨
9               Toyota Auris         18.090‚Ç¨
10            Renault M√©gane         14.409‚Ç¨
11               Toyota Rav4         15.863‚Ç¨
12             Suzuki Vitara         20.454‚Ç¨
13                Citro√´n C4          8.363‚Ç¨
14                Seat Ibiza         10.454‚Ç¨
15                   Audi Q3         19.409‚Ç¨
16              Toyota Yaris          8.000‚Ç¨
17               KIA ProCeed         21.800‚Ç¨
18                     MG ZS         17.409‚Ç¨
19              Suzuki Jimny         10.500‚Ç¨